### ТЗ ПАО Совкомбанка

Поле issued содержит флаг выдачи карты, activated – флаг активации (совершения первой покупки по карте).

Поля CAMPAIGN_SOURCE, CAMPAIGN, CAMPAIGN_MEDIUM, CAMPAIGN_TERM, CAMPAIGN_CONTENT содержат информацию об источниках. Существует иерархия источников CAMPAIGN_MEDUM – CAMPAIGN_SOURCE – CAMPAIGN. Один CAMPAIGN может присутствовать внутри разных CAMPAIGN_MEDIUM.

Банк стремится минимизировать стоимость активированной карты, при этом действует следующая система расчетов с поставщиками:

- Agent, Affiliate, Network: 200 рублей за выданную (issued) карту,
- PKW: 27 рублей за интернет-заявку,
- Representative: 150 рублей за выданную карту,
- Display: 100000 рублей на всю кампанию (на все заявки, представленные в файле),
- прочие источники бесплатны.

Для всех каналов действует минимальный KPI по конверсии из лида в выдачу (issued) в размере 5%.

Задачи:

2.1.      Трафик-менеджер обратился к вам с просьбой определить качественные и некачественные источники трафика (**CAMPAIGN**) с точки зрения выполнения KPI по конверсии в выдачу и стоимости активированной карты.На выходе должен быть csv или Excel-файл с указанием N самых качественных и M самых некачественных источников (по CAMPAIGN по цене активированной карты). Все качественные источники должны вписываться в KPI по конверсии. N и M необходимо определить самостоятельно, соблюдая требования к значимости рассчитанных показателей.

2.2.      Веб-инженер обратился к вам с просьбой найти предикторы низкой активации карты среди данных, присутствующих в файле.На выходе нужен список факторов и описание модели.

Обе части являются обязательными.

Для решения задачи нужно использовать Python. Лучше всего оформить задание в виде jupyter notebook, но .py файл тоже принимается.

 

Срок выполнения 3 дня.

In [1]:
import pandas as pd
import numpy as np

In [23]:
path = "../ORIGINAL/ds_test.csv"

In [48]:
original_df = pd.read_csv(path, encoding='latin-1', delimiter='\t')

In [49]:
original_df

,ï.¿ID_CONTACT,CAMPAIGN_SOURCE,PARTNER,CAMPAIGN,CAMPAIGN_MEDIUM,CAMPAIGN_TERM,CAMPAIGN_CONTENT,CAMPAIGN_NUMBER,SEARCH_TERM,AGE,...,applied,issued,LOAN_AMOUNT,UNIQ,PROCESSED_WITH_DELIVERY,LANDING_NAME,ONLINE_DECISION,TO_BE_CONTACTED,ACTIVATED,ACTIVATION_DATE
0,186883978,leads,NaN,47949,Network,47949},721f8e0db0d333add8a4359794b0a0ab,NaN,NaN,26,...,NaN,NaN,0.0,1,0.0,NaN,"incomplete, score not requested, processed to CRM",1,NaN,NaN
1,188449084,cityads,https://rfhhd.com/click-BQIOUJYG-RMIQCEY7?bt=2...,5m1w,Network,29041-1-1524300223-9223025,NaN,NaN,NaN,26,...,NaN,NaN,0.0,1,0.0,NaN,"incomplete, score not requested, processed to CRM",1,NaN,NaN
2,186164434,leadgid,NaN,27471,Affiliate,NaN,NaN,NaN,NaN,23,...,NaN,NaN,0.0,1,0.0,NaN,"incomplete, score not requested, processed to CRM",1,NaN,NaN
3,182560077,admitad,NaN,717430,Affiliate,803419,ad43a3a1a6447715fc0c9f2ce7ed9f34,NaN,NaN,34,...,NaN,NaN,0.0,1,0.0,NaN,"incomplete, score not requested, processed to CRM",1,NaN,NaN
4,187369393,leads,NaN,47949,Network,47949},bac21b865a3e825169e5e433a9b9183c,NaN,NaN,25,...,NaN,NaN,0.0,1,0.0,NaN,"incomplete, score not requested, processed to CRM",1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174394,191724040,cpahub,NaN,sovcombankoffer,Agent,apihalva,1483,NaN,NaN,46,...,NaN,NaN,0.0,0,NaN,NaN,NaN,1,NaN,NaN
174395,189549919,cityads,https://umllb.com/click-CQKCST01-RMIQCEY7?bt=2...,oY490X,Network,29041-1-1524572373-5200819,NaN,NaN,NaN,31,...,NaN,NaN,0.0,1,0.0,NaN,"incomplete, score not requested, processed to CRM",1,NaN,NaN
174396,188754843,PFS,NaN,bestwebmaster,Representative,180,9272480205,NaN,NaN,52,...,NaN,NaN,0.0,1,NaN,NaN,NaN,1,NaN,NaN
174397,181216004,mastertarget,NaN,crediton,Agent,NaN,NaN,NaN,NaN,21,...,NaN,NaN,0.0,1,NaN,NaN,NaN,1,NaN,NaN
174398,189797035,leadgid,NaN,24497,Affiliate,NaN,NaN,NaN,NaN,34,...,NaN,NaN,0.0,1,0.0,NaN,"incomplete, score not requested, processed to CRM",1,NaN,NaN

In [50]:
original_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 174399 entries, 0 to 174398
Data columns (total 52 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   ï.¿ID_CONTACT            174399 non-null  int64
 1   CAMPAIGN_SOURCE          174377 non-null  object
 2   PARTNER                  73661 non-null   object
 3   CAMPAIGN                 171890 non-null  object
 4   CAMPAIGN_MEDIUM          174399 non-null  object
 5   CAMPAIGN_TERM            93864 non-null   object
 6   CAMPAIGN_CONTENT         72683 non-null   object
 7   CAMPAIGN_NUMBER          0 non-null       float64
 8   SEARCH_TERM              0 non-null       float64
 9   AGE                      174399 non-null  int64
 10  SEX                      0 non-null       float64
 11  IS_MARRIED               0 non-null       float64
 12  IS_RETIRED               0 non-null       float64
 13  IS_RESIDENT              0 non-null       float64
 14  IS_20_YEARS_EXPERIENSE   0 non-null       float64
 15  MARITAL_STATUS           0 non-null       float64
 16  SOCIAL_STATUS            0 non-null       float64
 17  WORK_EXPERIENSE          0 non-null       float64
 18  DT_APPLICATION_START     174399 non-null  object
 19  LEAD_DATE                174399 non-null  object
 20  LEAD_WEEK                174399 non-null  int64
 21  LEAD_MONTH               174399 non-null  int64
 22  CREDIT_LIMIT             174399 non-null  int64
 23  CREDIT_DURATION          174399 non-null  int64
 24  marketing_id             0 non-null       float64
 25  ABTEST_CONFIGURATION     0 non-null       float64
 26  ASSIST_METHOD            171890 non-null  object
 27  ASSIST_OPERATOR          0 non-null       float64
 28  AUX_ID_1                 51 non-null      object
 29  AUX_ID_2                 0 non-null       float64
 30  AUX_ID_3                 100 non-null     float64
 31  COOKIE                   144175 non-null  object
 32  LANDING_ID               174399 non-null  int64
 33  PARTNER_EXTERNAL_ID      174399 non-null  int64
 34  URL                      174399 non-null  object
 35  DT_CONTACT               174399 non-null  object
 36  ID_POTENTIAL_CUSTOMER    174399 non-null  int64
 37  contacted                174399 non-null  int64
 38  customer                 23776 non-null   float64
 39  APPLICATION_DT           23776 non-null   object
 40  APP_IN_OFFICE_DATE       23776 non-null   object
 41  APP_IN_OFFICE_WEEK       23776 non-null   float64
 42  applied                  23776 non-null   float64
 43  issued                   23776 non-null   float64
 44  LOAN_AMOUNT              174399 non-null  float64
 45  UNIQ                     174399 non-null  int64
 46  PROCESSED_WITH_DELIVERY  145108 non-null  float64
 47  LANDING_NAME             0 non-null       float64
 48  ONLINE_DECISION          145108 non-null  object
 49  TO_BE_CONTACTED          174399 non-null  int64
 50  ACTIVATED                8467 non-null    float64
 51  ACTIVATION_DATE          3647 non-null    object
dtypes: float64(23), int64(12), object(17)
memory usage: 69.2+ MB

In [51]:
df = original_df.dropna(axis=1, how='all')

In [52]:
set(original_df.columns) - set(df.columns)

{'ABTEST_CONFIGURATION',
 'ASSIST_OPERATOR',
 'AUX_ID_2',
 'CAMPAIGN_NUMBER',
 'IS_20_YEARS_EXPERIENSE',
 'IS_MARRIED',
 'IS_RESIDENT',
 'IS_RETIRED',
 'LANDING_NAME',
 'MARITAL_STATUS',
 'SEARCH_TERM',
 'SEX',
 'SOCIAL_STATUS',
 'WORK_EXPERIENSE',
 'marketing_id'}

In [87]:
df = df.rename(columns={"ï.¿ID_CONTACT": "ID_CONTACT"})

In [111]:
df

,ID_CONTACT,CAMPAIGN_SOURCE,PARTNER,CAMPAIGN,CAMPAIGN_MEDIUM,CAMPAIGN_TERM,CAMPAIGN_CONTENT,AGE,DT_APPLICATION_START,LEAD_DATE,...,APP_IN_OFFICE_WEEK,applied,issued,LOAN_AMOUNT,UNIQ,PROCESSED_WITH_DELIVERY,ONLINE_DECISION,TO_BE_CONTACTED,ACTIVATED,ACTIVATION_DATE
0,186883978,leads,NaN,47949,Network,47949},721f8e0db0d333add8a4359794b0a0ab,26,2018-04-17 19:15:01,2018-04-17,...,NaN,NaN,NaN,0.0,1,0.0,"incomplete, score not requested, processed to CRM",1,NaN,NaN
1,188449084,cityads,https://rfhhd.com/click-BQIOUJYG-RMIQCEY7?bt=2...,5m1w,Network,29041-1-1524300223-9223025,NaN,26,2018-04-21 12:45:00,2018-04-21,...,NaN,NaN,NaN,0.0,1,0.0,"incomplete, score not requested, processed to CRM",1,NaN,NaN
2,186164434,leadgid,NaN,27471,Affiliate,NaN,NaN,23,2018-04-16 12:40:01,2018-04-16,...,NaN,NaN,NaN,0.0,1,0.0,"incomplete, score not requested, processed to CRM",1,NaN,NaN
3,182560077,admitad,NaN,717430,Affiliate,803419,ad43a3a1a6447715fc0c9f2ce7ed9f34,34,2018-04-05 18:05:00,2018-04-05,...,NaN,NaN,NaN,0.0,1,0.0,"incomplete, score not requested, processed to CRM",1,NaN,NaN
4,187369393,leads,NaN,47949,Network,47949},bac21b865a3e825169e5e433a9b9183c,25,2018-04-18 20:10:01,2018-04-18,...,NaN,NaN,NaN,0.0,1,0.0,"incomplete, score not requested, processed to CRM",1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174394,191724040,cpahub,NaN,sovcombankoffer,Agent,apihalva,1483,46,2018-04-30 14:50:23,2018-04-30,...,NaN,NaN,NaN,0.0,0,NaN,NaN,1,NaN,NaN
174395,189549919,cityads,https://umllb.com/click-CQKCST01-RMIQCEY7?bt=2...,oY490X,Network,29041-1-1524572373-5200819,NaN,31,2018-04-24 16:20:00,2018-04-24,...,NaN,NaN,NaN,0.0,1,0.0,"incomplete, score not requested, processed to CRM",1,NaN,NaN
174396,188754843,PFS,NaN,bestwebmaster,Representative,180,9272480205,52,2018-04-22 14:08:37,2018-04-22,...,NaN,NaN,NaN,0.0,1,NaN,NaN,1,NaN,NaN
174397,181216004,mastertarget,NaN,crediton,Agent,NaN,NaN,21,2018-04-02 07:32:23,2018-04-02,...,NaN,NaN,NaN,0.0,1,NaN,NaN,1,NaN,NaN
174398,189797035,leadgid,NaN,24497,Affiliate,NaN,NaN,34,2018-04-25 10:35:01,2018-04-25,...,NaN,NaN,NaN,0.0,1,0.0,"incomplete, score not requested, processed to CRM",1,NaN,NaN

In [112]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 174399 entries, 0 to 174398
Data columns (total 37 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   ID_CONTACT               174399 non-null  int64
 1   CAMPAIGN_SOURCE          174377 non-null  object
 2   PARTNER                  73661 non-null   object
 3   CAMPAIGN                 171890 non-null  object
 4   CAMPAIGN_MEDIUM          174399 non-null  object
 5   CAMPAIGN_TERM            93864 non-null   object
 6   CAMPAIGN_CONTENT         72683 non-null   object
 7   AGE                      174399 non-null  int64
 8   DT_APPLICATION_START     174399 non-null  object
 9   LEAD_DATE                174399 non-null  object
 10  LEAD_WEEK                174399 non-null  int64
 11  LEAD_MONTH               174399 non-null  int64
 12  CREDIT_LIMIT             174399 non-null  int64
 13  CREDIT_DURATION          174399 non-null  int64
 14  ASSIST_METHOD            171890 non-null  object
 15  AUX_ID_1                 51 non-null      object
 16  AUX_ID_3                 100 non-null     float64
 17  COOKIE                   144175 non-null  object
 18  LANDING_ID               174399 non-null  int64
 19  PARTNER_EXTERNAL_ID      174399 non-null  int64
 20  URL                      174399 non-null  object
 21  DT_CONTACT               174399 non-null  object
 22  ID_POTENTIAL_CUSTOMER    174399 non-null  int64
 23  contacted                174399 non-null  int64
 24  customer                 23776 non-null   float64
 25  APPLICATION_DT           23776 non-null   object
 26  APP_IN_OFFICE_DATE       23776 non-null   object
 27  APP_IN_OFFICE_WEEK       23776 non-null   float64
 28  applied                  23776 non-null   float64
 29  issued                   23776 non-null   float64
 30  LOAN_AMOUNT              174399 non-null  float64
 31  UNIQ                     174399 non-null  int64
 32  PROCESSED_WITH_DELIVERY  145108 non-null  float64
 33  ONLINE_DECISION          145108 non-null  object
 34  TO_BE_CONTACTED          174399 non-null  int64
 35  ACTIVATED                8467 non-null    float64
 36  ACTIVATION_DATE          3647 non-null    object
dtypes: float64(8), int64(12), object(17)
memory usage: 49.2+ MB

In [115]:
df[df.APPLICATION_DT.notna()].APPLICATION_DT

10        2018-04-28 00:00:00
27        2018-04-21 00:00:00
31        2018-04-03 00:00:00
34        2018-04-18 00:00:00
38        2018-04-13 00:00:00
                 ...
174357    2018-04-26 00:00:00
174358    2018-05-01 00:00:00
174365    2018-04-09 00:00:00
174384    2018-04-23 00:00:00
174387    2018-04-06 00:00:00
Name: APPLICATION_DT, Length: 23776, dtype: object

In [117]:
df[df.customer.notna()].customer

10        43511716.0
27        71454874.0
31         2081180.0
34         5233500.0
38        59662030.0
             ...
174357    71865266.0
174358    45658357.0
174365    68560821.0
174384    71634385.0
174387    47867270.0
Name: customer, Length: 23776, dtype: float64

In [56]:
df[df.issued.notna()].issued

10        1.0
27        1.0
31        0.0
34        0.0
38        1.0
         ...
174357    0.0
174358    0.0
174365    0.0
174384    1.0
174387    1.0
Name: issued, Length: 23776, dtype: float64

In [58]:
df[df.ACTIVATED.notna()].ACTIVATED

10        1.0
27        0.0
38        0.0
42        0.0
44        0.0
         ...
174332    0.0
174344    1.0
174353    1.0
174384    1.0
174387    0.0
Name: ACTIVATED, Length: 8467, dtype: float64

In [120]:
df[df.applied.notna()].applied.unique()

array([1.])

In [72]:
df[df.ACTIVATED.notna()].ACTIVATED.unique()

array([1., 0.])

In [118]:
df.applied

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
          ..
174394   NaN
174395   NaN
174396   NaN
174397   NaN
174398   NaN
Name: applied, Length: 174399, dtype: float64

In [59]:
df.CAMPAIGN_MEDIUM.unique()

array(['Network', 'Affiliate', 'Agent', 'Callcenter', 'Representative',
       'Direct', 'referral', 'Mobile', 'PKW', 'organic', 'Partner',
       'Display', 'OLV', 'Email', 'Print', 'Social', 'IM'], dtype=object)

In [121]:
tarifs = {'Network': 200,  # issued
          'Affiliate': 200, # issued
          'Agent': 200, # issued
          'Representative': 150, # issued
          'PKW': 27, # интернет-заявка
          'Display': 100_000} # (на все заявки, представленные в файле)
          
# считаем, что PKW и Display учитывают все ID_CONTACT безотносительно issued или activated
    
# 'Callcenter',
# 'Direct', 
# 'referral', 
# 'Mobile', 
# 'organic', 
# 'Partner',
# 'OLV', 
# 'Email', 
# 'Print', 
# 'Social', 
# 'IM'

In [60]:
df.CAMPAIGN.unique()

array(['47949', '5m1w', '27471', ..., '2368218', '2416166', '151479'],
      dtype=object)

In [61]:
df.CAMPAIGN.unique().shape

(1456,)

In [62]:
df.CAMPAIGN_SOURCE.unique()

array(['leads', 'cityads', 'leadgid', 'admitad', 'guruleads', 'ooo_most',
       'cpahub', 'finmarket', '(undetermined)',
       'https://www.halvacard.ru', 'ESP', 'mastertarget', 'halvaapp2',
       'internalcallcenter', 'RTA', 'smarter', 'PFS', 'workle', 'google',
       'MGCom', 'ubank', '(direct)', 'sovcombankru', 'creditsland.ru',
       'yandex.ru', 'callprofi', 'banki', 'bestwatchru', 'moneycare',
       'PimPay', 'infotechproduct', 'mobilecredit', 'saleads', 'sravni',
       'Mycredithistoryapp', 'telefunk', 'go.mail.ru', 'BashmagEmail',
       'actionpay', 'https://kartahalva.com', 'https://www.eldorado.ru',
       'linkprofit', 'sovcombank.ru', 'https://e.mail.ru', 'sipcolor',
       'tdirect', 'Youtube', 'm.video', 'https://mobile.ok.ru',
       'https://away.vk.com', 'leadtrade', 'http://away.vk.com', 'robek',
       'rubleexpress', 'lamoda.ru', 'viberi', 'http://halvacard.test',
       'advertise', 'https://ok.ru', 'http://medar96.ru', '22455832',
       'https://modis.ru', nan, 'https://halvacard.ubank.su',
       'https://app.halvacard.ru', 'https://xn----btbklglkeftkmdu0joa.xn',
       'http://baltmotors.ru', 'zvezdasibiri', 'https://rcf-start.com',
       'bankiru', '19800360', 'https://www.velostrana.ru',
       'tex-til.spb.ru', 'https://yandex.ua', 'beeline',
       'http://karta-khalva.ru', 'http://adguard.com', 'sarvanidi',
       'http://zoloto55.ru', 'bing.com', 'https://www.gold585.ru',
       'brightcall', '22432050', 'https://www.tez-tour.com', 'QRcode',
       'Advertising', '18284555', 'http://card-sovest.ru',
       'https://sovcombank.ru', 'http://halva-online.ru',
       'sovcombankhalvadirectory', 'http://www.bolshoyvopros.ru',
       'avtoshina24.ru', '19249465', '20167983', '22651820',
       'https://www.kolesa-darom.ru', 'http://ronox.su',
       'xn--72-6kcaak8bmum5a.xn--p1ai', '{NAME}',
       'https://l.instagram.com', 'tm-marafon', 'https://www.shatura.com',
       'https://www.butik.ru', 'https://sovbankinfo.ru', '22778545',
       '20866404', 'http://shop.bq.ru', '20307449', 'yahoo.com', 'KP',
       'https://m.ok.ru', '12677672', 'http://l.instagram.com',
       'http://novosibirsk.ronox.su', 'https://hoff.ru',
       'http://r.srvtrck.com', '22401662', 'v-ip-stil.ru',
       'http://alinatur.ru', 'http://www.searchthis.com',
       'https://medsi.ru', 'vkontakte', 'malinofka.ru', '(not set)',
       'https://vologda.re.parts', 'https://zaim.com',
       'https://m.search.rambler.ru', 'http://sovcombank.copiny.com',
       'https://voronezh.rendez-vous.ru', '23058307', 'OLDI', 'Kant',
       'hotab59', 'http://m.xn----8sbjugiebgjbccb3bqd0q4b.xn',
       'http://saroptic.ru', 'kubaninstrument.ru', 'https://just.ru',
       'http://xn--90ahbuecep2ah3i.xn', '16623275', '19442366',
       'http://www.ronox.su', 'https://www.moon-trade.ru', 'partner',
       'https://www.reikekids.ru', 'duckduckgo.com',
       'http://9creditov.ru', 'ARTICS', 'http://moneybrain.ru',
       'magistralauto', '17052921', '007000062', 'http://stroiopttorg.ru',
       'Remontist', 'stroylandiya', 'https://www.4tochki.ru',
       'mycredithistoryapp', 'leads,leads', 'regtaim.ru', 'prizmoda',
       '22726994', 'https://rainboskin.me', 'sliza',
       'https://halvapridi.ru', '15808635', 'https://www.lamoda.ru',
       'antoshkaspb.ru', '19851257', 'http://cp.trendt.ru',
       'https://halal.halvacard.ru', '22156967', 'http://justapple.club',
       'halvaapp', 'http://www.banki.ru',
       'https://halvacard-dev.ubank.su', 'http://incity.ru',
       'https://www.ok.ru'], dtype=object)

In [66]:
df.CAMPAIGN_SOURCE.unique().shape

(177,)

In [64]:
df.PARTNER.unique()

array([nan,
       'https://rfhhd.com/click-BQIOUJYG-RMIQCEY7?bt=25&tl=1&sa=4&no_cookie=1&widht=1366&height=768&timezone',
       'https://rfhhd.com/click-BQIOUJYG-RMIQCEY7?bt=25&tl=1&sa=1&no_cookie=1&widht=1366&height=768&timezone',
       ...,
       'https://yabs.yandex.ru/count/KOcDaBWp1I4507m1CRrIq5e00000EEu2G0980c2y26W2SEx4ez89W07Rl9Iq1eW1klNkXIQ',
       'https://yabs.yandex.ru/count/HmaompY79UC509m14808CGA3rLe00000EFw45K02I09Wl0Xe0d34w9UG1u01tzsquRQqpxX',
       'https://yabs.yandex.ru/count/5ddhWY--gEG509O1CNtonLe00000E0H00aW2OBm8Q09miiQli0I00QdQqlq7Y074ihJgBP0'],
      dtype=object)

In [70]:
df[df.applied.notna()].applied.unique()

array([1.])

In [75]:
df.CAMPAIGN.value_counts()

5m1w       16807
27471      12407
24497      10877
22797       9811
52218       9028
           ...
2429419        1
606677         1
2412987        1
1474287        1
151479         1
Name: CAMPAIGN, Length: 1455, dtype: int64

In [77]:
df[df.CAMPAIGN == "5m1w"]

,ï.¿ID_CONTACT,CAMPAIGN_SOURCE,PARTNER,CAMPAIGN,CAMPAIGN_MEDIUM,CAMPAIGN_TERM,CAMPAIGN_CONTENT,AGE,DT_APPLICATION_START,LEAD_DATE,...,APP_IN_OFFICE_WEEK,applied,issued,LOAN_AMOUNT,UNIQ,PROCESSED_WITH_DELIVERY,ONLINE_DECISION,TO_BE_CONTACTED,ACTIVATED,ACTIVATION_DATE
1,188449084,cityads,https://rfhhd.com/click-BQIOUJYG-RMIQCEY7?bt=2...,5m1w,Network,29041-1-1524300223-9223025,NaN,26,2018-04-21 12:45:00,2018-04-21,...,NaN,NaN,NaN,0.0,1,0.0,"incomplete, score not requested, processed to CRM",1,NaN,NaN
5,182131169,cityads,https://rfhhd.com/click-BQIOUJYG-RMIQCEY7?bt=2...,5m1w,Network,29041-1-1522844541-3225995,NaN,21,2018-04-04 16:25:01,2018-04-04,...,NaN,NaN,NaN,0.0,1,0.0,"incomplete, score not requested, processed to CRM",1,NaN,NaN
8,184687641,cityads,https://rfhhd.com/click-BQIOUJYG-RMIQCEY7?bt=2...,5m1w,Network,29041-1-1523462517-4221941,NaN,65,2018-04-11 20:05:00,2018-04-11,...,NaN,NaN,NaN,0.0,1,0.0,"incomplete, score not requested, processed to CRM",1,NaN,NaN
17,182577814,cityads,https://rfhhd.com/click-BQIOUJYG-RMIQCEY7?bt=2...,5m1w,Network,29041-1-1522944502-1225495,NaN,25,2018-04-05 20:10:00,2018-04-05,...,NaN,NaN,NaN,0.0,1,0.0,"incomplete, score not requested, processed to CRM",1,NaN,NaN
19,182441838,cityads,https://rfhhd.com/click-BQIOUJYG-RMIQCEY7?bt=2...,5m1w,Network,29041-1-1522917126-8202571,NaN,25,2018-04-05 12:35:00,2018-04-05,...,NaN,NaN,NaN,0.0,1,0.0,"incomplete, score not requested, processed to CRM",1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174343,188116435,cityads,https://rfhhd.com/click-BQIOUJYG-RMIQCEY7?bt=2...,5m1w,Network,29041-1-1524224433-7203829,NaN,37,2018-04-20 15:45:00,2018-04-20,...,NaN,NaN,NaN,0.0,1,0.0,"incomplete, score not requested, processed to CRM",1,NaN,NaN
174344,182173337,cityads,https://rfhhd.com/click-BQIOUJYG-RMIQCEY7?bt=2...,5m1w,Network,29041-1-1522856352-9202334,NaN,27,2018-04-04 19:40:00,2018-04-04,...,14.0,1.0,1.0,75000.0,1,0.0,"incomplete, score not requested, processed to CRM",1,1.0,2018-04-29 09:46:10
174350,183054095,cityads,https://rfhhd.com/click-BQIOUJYG-RMIQCEY7?bt=2...,5m1w,Network,29041-1-1523028049-9222549,NaN,51,2018-04-06 19:25:00,2018-04-06,...,NaN,NaN,NaN,0.0,1,0.0,"incomplete, score not requested, processed to CRM",1,NaN,NaN
174387,182521157,cityads,https://rfhhd.com/click-BQIOUJYG-RMIQCEY7?bt=2...,5m1w,Network,29041-1-1522929315-7220183,NaN,48,2018-04-05 16:00:00,2018-04-05,...,14.0,1.0,1.0,30000.0,1,0.0,"incomplete, score not requested, processed to CRM",1,0.0,NaN
174391,187141528,cityads,https://rfhhd.com/click-BQIOUJYG-RMIQCEY7?bt=2...,5m1w,Network,29041-1-1524033010-5222833,NaN,29,2018-04-18 10:35:00,2018-04-18,...,NaN,NaN,NaN,0.0,1,0.0,"incomplete, score not requested, processed to CRM",1,NaN,NaN

In [110]:
df["ID_CONTACT"].unique().shape

(174399,)

In [109]:
df.groupby("CAMPAIGN").count()["ID_CONTACT"]

CAMPAIGN
 halva                                     6
(not set)                               3681
075dbf80-326f-11e8-9e20-49046f1e3250       5
1                                         62
10061987                                   1
                                        ...
zaimtime777                                1
zc                                       161
{affiliate_id}                             1
{operator_id}                            110
ÑÐµÑÑÐ¾Ð²Ð°Ñ ÑÐ¾ÑÐºÐ°                1
Name: ID_CONTACT, Length: 1455, dtype: int64

In [ ]:
campaign_df = df.CAMPAIGN

In [96]:
df.groupby("CAMPAIGN").count()[["ID_CONTACT"]].sort_values("ID_CONTACT", ascending=False)

                             ID_CONTACT
CAMPAIGN
5m1w                              16807
27471                             12407
24497                             10877
22797                              9811
52218                              9028
...                                 ...
2415089                               1
2415083                               1
2415013                               1
2414889                               1
ÑÐµÑÑÐ¾Ð²Ð°Ñ ÑÐ¾ÑÐºÐ°           1

[1455 rows x 1 columns]

In [97]:
df.groupby("CAMPAIGN").count()

,ID_CONTACT,CAMPAIGN_SOURCE,PARTNER,CAMPAIGN_MEDIUM,CAMPAIGN_TERM,CAMPAIGN_CONTENT,AGE,DT_APPLICATION_START,LEAD_DATE,LEAD_WEEK,...,APP_IN_OFFICE_WEEK,applied,issued,LOAN_AMOUNT,UNIQ,PROCESSED_WITH_DELIVERY,ONLINE_DECISION,TO_BE_CONTACTED,ACTIVATED,ACTIVATION_DATE
CAMPAIGN,,,,,,,,,,,,,,,,,,,,,
halva,6,6,6,6,0,0,6,6,6,6,...,0,0,0,6,6,6,6,6,0,0
(not set),3681,3681,3629,3681,3680,3680,3681,3681,3681,3681,...,557,557,557,3681,3681,3637,3637,3681,178,133
075dbf80-326f-11e8-9e20-49046f1e3250,5,5,0,5,5,5,5,5,5,5,...,2,2,2,5,5,0,0,5,0,0
1,62,62,0,62,0,62,62,62,62,62,...,3,3,3,62,62,0,0,62,0,0
10061987,1,1,1,1,1,0,1,1,1,1,...,0,0,0,1,1,1,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zaimtime777,1,1,1,1,1,0,1,1,1,1,...,0,0,0,1,1,1,1,1,0,0
zc,161,161,154,161,161,0,161,161,161,161,...,21,21,21,161,161,161,161,161,6,4
{affiliate_id},1,1,1,1,0,0,1,1,1,1,...,0,0,0,1,1,1,1,1,0,0
{operator_id},110,110,110,110,0,110,110,110,110,110,...,11,11,11,110,110,110,110,110,0,0
ÑÐµÑÑÐ¾Ð²Ð°Ñ ÑÐ¾ÑÐºÐ°,1,1,0,1,1,1,1,1,1,1,...,0,0,0,1,1,0,0,1,0,0

In [ ]:
df.groupby("CAMPAIGN").agg({'ID_CONTACT': 'count',

In [123]:
df

,ID_CONTACT,CAMPAIGN_SOURCE,PARTNER,CAMPAIGN,CAMPAIGN_MEDIUM,CAMPAIGN_TERM,CAMPAIGN_CONTENT,AGE,DT_APPLICATION_START,LEAD_DATE,...,APP_IN_OFFICE_WEEK,applied,issued,LOAN_AMOUNT,UNIQ,PROCESSED_WITH_DELIVERY,ONLINE_DECISION,TO_BE_CONTACTED,ACTIVATED,ACTIVATION_DATE
0,186883978,leads,NaN,47949,Network,47949},721f8e0db0d333add8a4359794b0a0ab,26,2018-04-17 19:15:01,2018-04-17,...,NaN,NaN,NaN,0.0,1,0.0,"incomplete, score not requested, processed to CRM",1,NaN,NaN
1,188449084,cityads,https://rfhhd.com/click-BQIOUJYG-RMIQCEY7?bt=2...,5m1w,Network,29041-1-1524300223-9223025,NaN,26,2018-04-21 12:45:00,2018-04-21,...,NaN,NaN,NaN,0.0,1,0.0,"incomplete, score not requested, processed to CRM",1,NaN,NaN
2,186164434,leadgid,NaN,27471,Affiliate,NaN,NaN,23,2018-04-16 12:40:01,2018-04-16,...,NaN,NaN,NaN,0.0,1,0.0,"incomplete, score not requested, processed to CRM",1,NaN,NaN
3,182560077,admitad,NaN,717430,Affiliate,803419,ad43a3a1a6447715fc0c9f2ce7ed9f34,34,2018-04-05 18:05:00,2018-04-05,...,NaN,NaN,NaN,0.0,1,0.0,"incomplete, score not requested, processed to CRM",1,NaN,NaN
4,187369393,leads,NaN,47949,Network,47949},bac21b865a3e825169e5e433a9b9183c,25,2018-04-18 20:10:01,2018-04-18,...,NaN,NaN,NaN,0.0,1,0.0,"incomplete, score not requested, processed to CRM",1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174394,191724040,cpahub,NaN,sovcombankoffer,Agent,apihalva,1483,46,2018-04-30 14:50:23,2018-04-30,...,NaN,NaN,NaN,0.0,0,NaN,NaN,1,NaN,NaN
174395,189549919,cityads,https://umllb.com/click-CQKCST01-RMIQCEY7?bt=2...,oY490X,Network,29041-1-1524572373-5200819,NaN,31,2018-04-24 16:20:00,2018-04-24,...,NaN,NaN,NaN,0.0,1,0.0,"incomplete, score not requested, processed to CRM",1,NaN,NaN
174396,188754843,PFS,NaN,bestwebmaster,Representative,180,9272480205,52,2018-04-22 14:08:37,2018-04-22,...,NaN,NaN,NaN,0.0,1,NaN,NaN,1,NaN,NaN
174397,181216004,mastertarget,NaN,crediton,Agent,NaN,NaN,21,2018-04-02 07:32:23,2018-04-02,...,NaN,NaN,NaN,0.0,1,NaN,NaN,1,NaN,NaN
174398,189797035,leadgid,NaN,24497,Affiliate,NaN,NaN,34,2018-04-25 10:35:01,2018-04-25,...,NaN,NaN,NaN,0.0,1,0.0,"incomplete, score not requested, processed to CRM",1,NaN,NaN

In [126]:
df.CAMPAIGN_MEDIUM.map(tarifs).unique()

array([2.0e+02,     nan, 1.5e+02, 2.7e+01, 1.0e+05])

In [127]:
df.CAMPAIGN_MEDIUM.map(tarifs)

0         200.0
1         200.0
2         200.0
3         200.0
4         200.0
          ...
174394    200.0
174395    200.0
174396    150.0
174397    200.0
174398    200.0
Name: CAMPAIGN_MEDIUM, Length: 174399, dtype: float64

In [122]:
tarifs = {'Network': 200,  # issued
          'Affiliate': 200, # issued
          'Agent': 200, # issued
          'Representative': 150, # issued
          
          'PKW': 27, # интернет-заявка
          'Display': 100_000} # (на все заявки, представленные в файле)
          
# считаем, что PKW и Display учитывают все ID_CONTACT безотносительно issued или activated
    
# 'Callcenter',
# 'Direct', 
# 'referral', 
# 'Mobile', 
# 'organic', 
# 'Partner',
# 'OLV', 
# 'Email', 
# 'Print', 
# 'Social', 
# 'IM'


position_dct = {'Network': "issued",  # issued
          'Affiliate': "issued"0, # issued
          'Agent': "issued", # issued
          'Representative': "issued", # issued
          
          'PKW': "ID_CONTACT", # интернет-заявка
          'Display': 1} # (на все заявки, представленные в файле)

In [251]:
def compute_postions(df):
    
    df["positions"] = 0
    df.loc[df.CAMPAIGN_MEDIUM == 'Display', "positions"] = 1

    ind_1 = df.CAMPAIGN_MEDIUM.isin(['Network', 'Affiliate', 'Agent', 'Representative'])   
    df.loc[ind_1, "positions"] = df[ind_1].issued
    
    ind_2 = df.CAMPAIGN_MEDIUM == 'PKW'
    df.loc[ind_2, "positions"] = df[ind_2].ID_CONTACT

    return df
    
    
def compute_campaign_df(_df, conversion_condition="issued", threshold=5):

    df = _df.groupby(["CAMPAIGN", 
                      "CAMPAIGN_MEDIUM"]).agg({'ID_CONTACT': 'count', 
                                              'issued':'sum', 
                                              'ACTIVATED':'sum'
                                              }).sort_values("ID_CONTACT", ascending=False).reset_index()
        
    df = compute_postions(df)
    df["price"] = df.CAMPAIGN_MEDIUM.map(tarifs).fillna(0)   
    df["total_sum"] = df.price * df.positions
       
    for column in df.select_dtypes(include="float").columns:
        df[column] = df[column].astype("int")
    
    return df


def compute_final_campaign_df(df, conversion_condition="issued", threshold=5):
    
    columns = list(df.columns)
    columns.remove("CAMPAIGN_MEDIUM")
    columns.remove("CAMPAIGN")
    
    dct = {i: sum for i in columns}
    dct["CAMPAIGN_MEDIUM"] = list
    
    df = df.groupby("CAMPAIGN").agg(dct).sort_values("ID_CONTACT", ascending=False)
    
    df["mediums_count"] = df.CAMPAIGN_MEDIUM.apply(len)
    df["average_price"] = df.total_sum / df.positions
    df["conversion_percent"] = df[conversion_condition] / df['ID_CONTACT'] * 100
    df["KPI_is_done"] = df["conversion_percent"].apply(lambda x: x >= threshold)
    return df

In [230]:
_df = compute_campaign_df(df)

_df

,CAMPAIGN,CAMPAIGN_MEDIUM,ID_CONTACT,issued,ACTIVATED,positions,price,total_sum
0,5m1w,Network,16807,984,405,984,200,196800
1,27471,Affiliate,12407,655,229,655,200,131000
2,24497,Affiliate,10877,549,201,549,200,109800
3,22797,Affiliate,9811,487,174,487,200,97400
4,52218,Network,9028,575,244,575,200,115000
...,...,...,...,...,...,...,...,...
1474,2415237,Representative,1,0,0,0,150,0
1475,2415213,Representative,1,0,0,0,150,0
1476,2415161,Representative,1,0,0,0,150,0
1477,2415089,Representative,1,1,1,1,150,150
1478,ÑÐµÑÑÐ¾Ð²Ð°Ñ ÑÐ¾ÑÐºÐ°,Representative,1,0,0,0,150,0

In [252]:
__df = compute_final_campaign_df(_df, conversion_condition="issued", threshold=5)

__df

,ID_CONTACT,issued,ACTIVATED,positions,price,total_sum,CAMPAIGN_MEDIUM,mediums_count,average_price,conversion_percent,KPI_is_done
CAMPAIGN,,,,,,,,,,,
5m1w,16807,984,405,984,200,196800,[Network],1,200.0,5.854703,True
27471,12407,655,229,655,200,131000,[Affiliate],1,200.0,5.279278,True
24497,10877,549,201,549,200,109800,[Affiliate],1,200.0,5.047348,True
22797,9811,487,174,487,200,97400,[Affiliate],1,200.0,4.963816,False
52218,9028,575,244,575,200,115000,[Network],1,200.0,6.369074,True
...,...,...,...,...,...,...,...,...,...,...,...
2415089,1,1,1,1,150,150,[Representative],1,150.0,100.000000,True
2415083,1,0,0,0,150,0,[Representative],1,NaN,0.000000,False
2415013,1,0,0,0,150,0,[Representative],1,NaN,0.000000,False
2414889,1,0,0,0,150,0,[Representative],1,NaN,0.000000,False
ÑÐµÑÑÐ¾Ð²Ð°Ñ ÑÐ¾ÑÐºÐ°,1,0,0,0,150,0,[Representative],1,NaN,0.000000,False

In [255]:
__df.sort_values("average_price")

,ID_CONTACT,issued,ACTIVATED,positions,price,total_sum,CAMPAIGN_MEDIUM,mediums_count,average_price,conversion_percent,KPI_is_done
CAMPAIGN,,,,,,,,,,,
YandexDirect,5387,283,210,5387,27,145449,[PKW],1,27.0,5.253388,True
GoogleAdwords,3114,95,64,3114,27,84078,[PKW],1,27.0,3.050739,False
VK_SMM,1,0,0,1,27,27,[PKW],1,27.0,0.000000,False
TM,429,17,13,429,27,11583,[PKW],1,27.0,3.962704,False
tmail,129,1,0,129,27,3483,[PKW],1,27.0,0.775194,False
...,...,...,...,...,...,...,...,...,...,...,...
2415161,1,0,0,0,150,0,[Representative],1,NaN,0.000000,False
2415083,1,0,0,0,150,0,[Representative],1,NaN,0.000000,False
2415013,1,0,0,0,150,0,[Representative],1,NaN,0.000000,False
2414889,1,0,0,0,150,0,[Representative],1,NaN,0.000000,False
ÑÐµÑÑÐ¾Ð²Ð°Ñ ÑÐ¾ÑÐºÐ°,1,0,0,0,150,0,[Representative],1,NaN,0.000000,False

In [254]:
__df[__df.mediums_count > 1]

,ID_CONTACT,issued,ACTIVATED,positions,price,total_sum,CAMPAIGN_MEDIUM,mediums_count,average_price,conversion_percent,KPI_is_done
CAMPAIGN,,,,,,,,,,,
halvaoffer,4520,155,58,0,0,0,"[Callcenter, Direct]",2,NaN,3.429204,False
47949,3846,142,51,142,400,28400,"[Network, Affiliate]",2,200.0,3.692148,False
(not set),3681,178,133,0,0,0,"[organic, referral, Partner, Direct]",4,NaN,4.835642,False
8688,3646,23,15,23,400,4600,"[Affiliate, Agent]",2,200.0,0.630828,False
gogogo,2517,12,8,12,400,2400,"[Agent, Affiliate]",2,200.0,0.476758,False
sovcombankoffer,1664,9,4,9,400,1800,"[Agent, Affiliate]",2,200.0,0.540865,False
777GR,1484,9,5,9,400,1800,"[Agent, Affiliate]",2,200.0,0.606469,False
id,722,85,35,85,400,17000,"[Affiliate, Network]",2,200.0,11.772853,True
27037,643,5,3,5,400,1000,"[Network, Affiliate]",2,200.0,0.777605,False
52791,428,50,13,50,400,10000,"[Network, Affiliate]",2,200.0,11.682243,True
halva,223,10,8,0,200,0,"[Partner, Mobile, Social, Affiliate, Direct]",5,NaN,4.484305,False
43184,108,5,4,5,400,1000,"[Network, Affiliate]",2,200.0,4.629630,False
33536,54,0,0,0,400,0,"[Agent, Affiliate]",2,NaN,0.000000,False
31112,51,0,0,0,400,0,"[Affiliate, Agent]",2,NaN,0.000000,False
62277,43,0,0,0,400,0,"[Affiliate, Agent]",2,NaN,0.000000,False
3DQl,14,2,2,2,400,400,"[Network, Affiliate]",2,200.0,14.285714,True
25999,9,0,0,0,400,0,"[Affiliate, Agent]",2,NaN,0.000000,False
12mesyacev,5,1,1,0,200,0,"[Print, Affiliate]",2,NaN,20.000000,True
44334,4,0,0,0,400,0,"[Network, Affiliate]",2,NaN,0.000000,False

In [253]:
__df[__df.KPI_is_done == True]

,ID_CONTACT,issued,ACTIVATED,positions,price,total_sum,CAMPAIGN_MEDIUM,mediums_count,average_price,conversion_percent,KPI_is_done
CAMPAIGN,,,,,,,,,,,
5m1w,16807,984,405,984,200,196800,[Network],1,200.0,5.854703,True
27471,12407,655,229,655,200,131000,[Affiliate],1,200.0,5.279278,True
24497,10877,549,201,549,200,109800,[Affiliate],1,200.0,5.047348,True
52218,9028,575,244,575,200,115000,[Network],1,200.0,6.369074,True
50817,7555,393,158,393,200,78600,[Affiliate],1,200.0,5.201853,True
...,...,...,...,...,...,...,...,...,...,...,...
2412030,1,1,1,1,150,150,[Representative],1,150.0,100.000000,True
2413196,1,1,0,1,150,150,[Representative],1,150.0,100.000000,True
2409922,1,1,1,1,150,150,[Representative],1,150.0,100.000000,True
2415830,1,1,1,1,150,150,[Representative],1,150.0,100.000000,True
2415089,1,1,1,1,150,150,[Representative],1,150.0,100.000000,True