### ТЗ ПАО Совкомбанка

По ссылке [https://yadi.sk/d/DliqgCal3ZkR58](https://yadi.sk/d/DliqgCal3ZkR58) находится сэмпл данных по интернет-заявкам (лидам) на кредитную карту и конверсиях.

Поле issued содержит флаг выдачи карты, activated – флаг активации (совершения первой покупки по карте).

Поля CAMPAIGN_SOURCE, CAMPAIGN, CAMPAIGN_MEDIUM, CAMPAIGN_TERM, CAMPAIGN_CONTENT содержат информацию об источниках. Существует иерархия источников CAMPAIGN_MEDUM – CAMPAIGN_SOURCE – CAMPAIGN. Один CAMPAIGN может присутствовать внутри разных CAMPAIGN_MEDIUM.

Банк стремится минимизировать стоимость активированной карты, при этом действует следующая система расчетов с поставщиками:

- Agent, Affiliate, Network: 200 рублей за выданную (issued) карту,
- PKW: 27 рублей за интернет-заявку,
- Representative: 150 рублей за выданную карту,
- Display: 100000 рублей на всю кампанию (на все заявки, представленные в файле),
- прочие источники бесплатны.

Для всех каналов действует минимальный KPI по конверсии из лида в выдачу (issued) в размере 5%.

Задачи:

2.1.      Трафик-менеджер обратился к вам с просьбой определить качественные и некачественные источники трафика (**CAMPAIGN**) с точки зрения выполнения KPI по конверсии в выдачу и стоимости активированной карты.На выходе должен быть csv или Excel-файл с указанием N самых качественных и M самых некачественных источников (по CAMPAIGN по цене активированной карты). Все качественные источники должны вписываться в KPI по конверсии. N и M необходимо определить самостоятельно, соблюдая требования к значимости рассчитанных показателей.

2.2.      Веб-инженер обратился к вам с просьбой найти предикторы низкой активации карты среди данных, присутствующих в файле.На выходе нужен список факторов и описание модели.

Обе части являются обязательными.

Для решения задачи нужно использовать Python. Лучше всего оформить задание в виде jupyter notebook, но .py файл тоже принимается.

 

Срок выполнения 3 дня.

In [1]:
import pandas as pd
import numpy as np

In [23]:
path = "../ORIGINAL/ds_test.csv"

In [352]:
original_df = pd.read_csv(path, encoding='latin-1', delimiter='\t')

original_df

,ï.¿ID_CONTACT,CAMPAIGN_SOURCE,PARTNER,CAMPAIGN,CAMPAIGN_MEDIUM,CAMPAIGN_TERM,CAMPAIGN_CONTENT,CAMPAIGN_NUMBER,SEARCH_TERM,AGE,...,applied,issued,LOAN_AMOUNT,UNIQ,PROCESSED_WITH_DELIVERY,LANDING_NAME,ONLINE_DECISION,TO_BE_CONTACTED,ACTIVATED,ACTIVATION_DATE
0,186883978,leads,NaN,47949,Network,47949},721f8e0db0d333add8a4359794b0a0ab,NaN,NaN,26,...,NaN,NaN,0.0,1,0.0,NaN,"incomplete, score not requested, processed to CRM",1,NaN,NaN
1,188449084,cityads,https://rfhhd.com/click-BQIOUJYG-RMIQCEY7?bt=2...,5m1w,Network,29041-1-1524300223-9223025,NaN,NaN,NaN,26,...,NaN,NaN,0.0,1,0.0,NaN,"incomplete, score not requested, processed to CRM",1,NaN,NaN
2,186164434,leadgid,NaN,27471,Affiliate,NaN,NaN,NaN,NaN,23,...,NaN,NaN,0.0,1,0.0,NaN,"incomplete, score not requested, processed to CRM",1,NaN,NaN
3,182560077,admitad,NaN,717430,Affiliate,803419,ad43a3a1a6447715fc0c9f2ce7ed9f34,NaN,NaN,34,...,NaN,NaN,0.0,1,0.0,NaN,"incomplete, score not requested, processed to CRM",1,NaN,NaN
4,187369393,leads,NaN,47949,Network,47949},bac21b865a3e825169e5e433a9b9183c,NaN,NaN,25,...,NaN,NaN,0.0,1,0.0,NaN,"incomplete, score not requested, processed to CRM",1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174394,191724040,cpahub,NaN,sovcombankoffer,Agent,apihalva,1483,NaN,NaN,46,...,NaN,NaN,0.0,0,NaN,NaN,NaN,1,NaN,NaN
174395,189549919,cityads,https://umllb.com/click-CQKCST01-RMIQCEY7?bt=2...,oY490X,Network,29041-1-1524572373-5200819,NaN,NaN,NaN,31,...,NaN,NaN,0.0,1,0.0,NaN,"incomplete, score not requested, processed to CRM",1,NaN,NaN
174396,188754843,PFS,NaN,bestwebmaster,Representative,180,9272480205,NaN,NaN,52,...,NaN,NaN,0.0,1,NaN,NaN,NaN,1,NaN,NaN
174397,181216004,mastertarget,NaN,crediton,Agent,NaN,NaN,NaN,NaN,21,...,NaN,NaN,0.0,1,NaN,NaN,NaN,1,NaN,NaN
174398,189797035,leadgid,NaN,24497,Affiliate,NaN,NaN,NaN,NaN,34,...,NaN,NaN,0.0,1,0.0,NaN,"incomplete, score not requested, processed to CRM",1,NaN,NaN

In [353]:
original_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 174399 entries, 0 to 174398
Data columns (total 52 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   ï.¿ID_CONTACT            174399 non-null  int64
 1   CAMPAIGN_SOURCE          174377 non-null  object
 2   PARTNER                  73661 non-null   object
 3   CAMPAIGN                 171890 non-null  object
 4   CAMPAIGN_MEDIUM          174399 non-null  object
 5   CAMPAIGN_TERM            93864 non-null   object
 6   CAMPAIGN_CONTENT         72683 non-null   object
 7   CAMPAIGN_NUMBER          0 non-null       float64
 8   SEARCH_TERM              0 non-null       float64
 9   AGE                      174399 non-null  int64
 10  SEX                      0 non-null       float64
 11  IS_MARRIED               0 non-null       float64
 12  IS_RETIRED               0 non-null       float64
 13  IS_RESIDENT              0 non-null       float64
 14  IS_20_YEARS_EXPERIENSE   0 non-null       float64
 15  MARITAL_STATUS           0 non-null       float64
 16  SOCIAL_STATUS            0 non-null       float64
 17  WORK_EXPERIENSE          0 non-null       float64
 18  DT_APPLICATION_START     174399 non-null  object
 19  LEAD_DATE                174399 non-null  object
 20  LEAD_WEEK                174399 non-null  int64
 21  LEAD_MONTH               174399 non-null  int64
 22  CREDIT_LIMIT             174399 non-null  int64
 23  CREDIT_DURATION          174399 non-null  int64
 24  marketing_id             0 non-null       float64
 25  ABTEST_CONFIGURATION     0 non-null       float64
 26  ASSIST_METHOD            171890 non-null  object
 27  ASSIST_OPERATOR          0 non-null       float64
 28  AUX_ID_1                 51 non-null      object
 29  AUX_ID_2                 0 non-null       float64
 30  AUX_ID_3                 100 non-null     float64
 31  COOKIE                   144175 non-null  object
 32  LANDING_ID               174399 non-null  int64
 33  PARTNER_EXTERNAL_ID      174399 non-null  int64
 34  URL                      174399 non-null  object
 35  DT_CONTACT               174399 non-null  object
 36  ID_POTENTIAL_CUSTOMER    174399 non-null  int64
 37  contacted                174399 non-null  int64
 38  customer                 23776 non-null   float64
 39  APPLICATION_DT           23776 non-null   object
 40  APP_IN_OFFICE_DATE       23776 non-null   object
 41  APP_IN_OFFICE_WEEK       23776 non-null   float64
 42  applied                  23776 non-null   float64
 43  issued                   23776 non-null   float64
 44  LOAN_AMOUNT              174399 non-null  float64
 45  UNIQ                     174399 non-null  int64
 46  PROCESSED_WITH_DELIVERY  145108 non-null  float64
 47  LANDING_NAME             0 non-null       float64
 48  ONLINE_DECISION          145108 non-null  object
 49  TO_BE_CONTACTED          174399 non-null  int64
 50  ACTIVATED                8467 non-null    float64
 51  ACTIVATION_DATE          3647 non-null    object
dtypes: float64(23), int64(12), object(17)
memory usage: 69.2+ MB

Сделаем небольшую подготовку датасета:

    - уберем нетипичные символы из названий столбцов
    - выбросим столбцы не содержащие ничего кроме nan

In [354]:
df = original_df.dropna(axis=1, how='all')
print("dropped nan columns:")
set(original_df.columns) - set(df.columns)

dropped nan columns:

{'ABTEST_CONFIGURATION',
 'ASSIST_OPERATOR',
 'AUX_ID_2',
 'CAMPAIGN_NUMBER',
 'IS_20_YEARS_EXPERIENSE',
 'IS_MARRIED',
 'IS_RESIDENT',
 'IS_RETIRED',
 'LANDING_NAME',
 'MARITAL_STATUS',
 'SEARCH_TERM',
 'SEX',
 'SOCIAL_STATUS',
 'WORK_EXPERIENSE',
 'marketing_id'}

In [355]:
df = df.rename(columns={"ï.¿ID_CONTACT": "ID_CONTACT"})

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 174399 entries, 0 to 174398
Data columns (total 37 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   ID_CONTACT               174399 non-null  int64
 1   CAMPAIGN_SOURCE          174377 non-null  object
 2   PARTNER                  73661 non-null   object
 3   CAMPAIGN                 171890 non-null  object
 4   CAMPAIGN_MEDIUM          174399 non-null  object
 5   CAMPAIGN_TERM            93864 non-null   object
 6   CAMPAIGN_CONTENT         72683 non-null   object
 7   AGE                      174399 non-null  int64
 8   DT_APPLICATION_START     174399 non-null  object
 9   LEAD_DATE                174399 non-null  object
 10  LEAD_WEEK                174399 non-null  int64
 11  LEAD_MONTH               174399 non-null  int64
 12  CREDIT_LIMIT             174399 non-null  int64
 13  CREDIT_DURATION          174399 non-null  int64
 14  ASSIST_METHOD            171890 non-null  object
 15  AUX_ID_1                 51 non-null      object
 16  AUX_ID_3                 100 non-null     float64
 17  COOKIE                   144175 non-null  object
 18  LANDING_ID               174399 non-null  int64
 19  PARTNER_EXTERNAL_ID      174399 non-null  int64
 20  URL                      174399 non-null  object
 21  DT_CONTACT               174399 non-null  object
 22  ID_POTENTIAL_CUSTOMER    174399 non-null  int64
 23  contacted                174399 non-null  int64
 24  customer                 23776 non-null   float64
 25  APPLICATION_DT           23776 non-null   object
 26  APP_IN_OFFICE_DATE       23776 non-null   object
 27  APP_IN_OFFICE_WEEK       23776 non-null   float64
 28  applied                  23776 non-null   float64
 29  issued                   23776 non-null   float64
 30  LOAN_AMOUNT              174399 non-null  float64
 31  UNIQ                     174399 non-null  int64
 32  PROCESSED_WITH_DELIVERY  145108 non-null  float64
 33  ONLINE_DECISION          145108 non-null  object
 34  TO_BE_CONTACTED          174399 non-null  int64
 35  ACTIVATED                8467 non-null    float64
 36  ACTIVATION_DATE          3647 non-null    object
dtypes: float64(8), int64(12), object(17)
memory usage: 49.2+ MB

### Задача 2.1

Трафик-менеджер обратился к вам с просьбой определить качественные и некачественные источники трафика (**CAMPAIGN**) с точки зрения выполнения KPI по конверсии в выдачу и стоимости активированной карты.На выходе должен быть csv или Excel-файл с указанием N самых качественных и M самых некачественных источников (по CAMPAIGN по цене активированной карты). Все качественные источники должны вписываться в KPI по конверсии. N и M необходимо определить самостоятельно, соблюдая требования к значимости рассчитанных показателей.

### Решение

###### Идея
Заметим, что банк интересуют не просто выданные, но активированные карты: *Банк стремится минимизировать стоимость активированной карты*, *(по CAMPAIGN по цене активированной карты)*. С другой стороны, банк обязан платить поставщикам за выданную карту или заявку. Таким образом, основной ... много выданных карт/заявок, среди которых низкий процент активированных карт.


Поскольку задача имеет характер constrained optimization, мы можем разделить все источники на качественные/некачественные по признаку выполнения условия на KPI. Внутри группы качественных источников мы можем сортировать значения по средней стоимости активированной карты - чем дешевле карта, тем качественнее источник. Аналогично, можем оценить некачественные источники. Однако, в группе некачественных источников возможно наличие следуюших подгрупп:

    - нейтральная группа: 
процент активированных карт равен нулю, затраты на источник равны нулю.
    
    - отрицательная группа: 
процент активированных карт равен нулю, затраты на источник больше нуля. Такую группу можно считать самой некачественной, поскольку банк потратил деньги, не получив ничего взамен (при более детальном анализе можно еще делать поправку на длительность - можно предположить что источник трафика работает недостаточно долго, и в ближайшем будущем появятся клиенты, которые покроют затраты на данный источник).

###### Описание процесса

Поскольку нас интересуют наименования ```CAMPAIGN```, предварительно очистим датасет от строк, в которых данное поле неизвестно.

In [357]:
df = df[df.CAMPAIGN.notna()]

df

,ID_CONTACT,CAMPAIGN_SOURCE,PARTNER,CAMPAIGN,CAMPAIGN_MEDIUM,CAMPAIGN_TERM,CAMPAIGN_CONTENT,AGE,DT_APPLICATION_START,LEAD_DATE,...,APP_IN_OFFICE_WEEK,applied,issued,LOAN_AMOUNT,UNIQ,PROCESSED_WITH_DELIVERY,ONLINE_DECISION,TO_BE_CONTACTED,ACTIVATED,ACTIVATION_DATE
0,186883978,leads,NaN,47949,Network,47949},721f8e0db0d333add8a4359794b0a0ab,26,2018-04-17 19:15:01,2018-04-17,...,NaN,NaN,NaN,0.0,1,0.0,"incomplete, score not requested, processed to CRM",1,NaN,NaN
1,188449084,cityads,https://rfhhd.com/click-BQIOUJYG-RMIQCEY7?bt=2...,5m1w,Network,29041-1-1524300223-9223025,NaN,26,2018-04-21 12:45:00,2018-04-21,...,NaN,NaN,NaN,0.0,1,0.0,"incomplete, score not requested, processed to CRM",1,NaN,NaN
2,186164434,leadgid,NaN,27471,Affiliate,NaN,NaN,23,2018-04-16 12:40:01,2018-04-16,...,NaN,NaN,NaN,0.0,1,0.0,"incomplete, score not requested, processed to CRM",1,NaN,NaN
3,182560077,admitad,NaN,717430,Affiliate,803419,ad43a3a1a6447715fc0c9f2ce7ed9f34,34,2018-04-05 18:05:00,2018-04-05,...,NaN,NaN,NaN,0.0,1,0.0,"incomplete, score not requested, processed to CRM",1,NaN,NaN
4,187369393,leads,NaN,47949,Network,47949},bac21b865a3e825169e5e433a9b9183c,25,2018-04-18 20:10:01,2018-04-18,...,NaN,NaN,NaN,0.0,1,0.0,"incomplete, score not requested, processed to CRM",1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174394,191724040,cpahub,NaN,sovcombankoffer,Agent,apihalva,1483,46,2018-04-30 14:50:23,2018-04-30,...,NaN,NaN,NaN,0.0,0,NaN,NaN,1,NaN,NaN
174395,189549919,cityads,https://umllb.com/click-CQKCST01-RMIQCEY7?bt=2...,oY490X,Network,29041-1-1524572373-5200819,NaN,31,2018-04-24 16:20:00,2018-04-24,...,NaN,NaN,NaN,0.0,1,0.0,"incomplete, score not requested, processed to CRM",1,NaN,NaN
174396,188754843,PFS,NaN,bestwebmaster,Representative,180,9272480205,52,2018-04-22 14:08:37,2018-04-22,...,NaN,NaN,NaN,0.0,1,NaN,NaN,1,NaN,NaN
174397,181216004,mastertarget,NaN,crediton,Agent,NaN,NaN,21,2018-04-02 07:32:23,2018-04-02,...,NaN,NaN,NaN,0.0,1,NaN,NaN,1,NaN,NaN
174398,189797035,leadgid,NaN,24497,Affiliate,NaN,NaN,34,2018-04-25 10:35:01,2018-04-25,...,NaN,NaN,NaN,0.0,1,0.0,"incomplete, score not requested, processed to CRM",1,NaN,NaN

Составим фрейм, сгрупированный по уникальным значениям ```CAMPAIGN```. Поскольку один ```CAMPAIGN``` может содержать несколько ```CAMPAIGN_MEDIUM```, от которых зависит стоимость карты, то сначала внутри каждого ```CAMPAIGN``` будем также разделять данные по ```CAMPAIGN_MEDIUM```. Добавим необходимые столбцы для вычисления суммарной стоимости: 
- количество выпущеных карт
- кол-во активированных карт
- кол-во позиций, которые должны быть оплачены (в зависимости от тарифа)
- цена за позицию
- суммарная стоимость

In [358]:
def compute_positions(df):
    
    df["positions"] = 0
    df.loc[df.CAMPAIGN_MEDIUM == 'Display', "positions"] = 1

    ind_1 = df.CAMPAIGN_MEDIUM.isin(['Network', 'Affiliate', 'Agent', 'Representative'])   
    df.loc[ind_1, "positions"] = df[ind_1].issued
    
    ind_2 = df.CAMPAIGN_MEDIUM == 'PKW'
    df.loc[ind_2, "positions"] = df[ind_2].ID_CONTACT_count

    return df
    
    
def compute_campaign_df(_df, conversion_condition="issued", threshold=5):

    df = _df.groupby(["CAMPAIGN", 
                      "CAMPAIGN_MEDIUM"]).agg({'ID_CONTACT': 'count', 
                                               'issued':'sum', 
                                               'ACTIVATED':'sum'
                                              }).sort_values("ID_CONTACT", ascending=False).reset_index()
        
    df.rename(columns={"ID_CONTACT": "ID_CONTACT_count"}, inplace=True)
    df = compute_positions(df)
    df["price"] = df.CAMPAIGN_MEDIUM.map(tarifs).fillna(0)   
    df["total_sum"] = df.price * df.positions
       
    for column in df.select_dtypes(include="float").columns:
        df[column] = df[column].astype("int")
    
    return df

In [359]:
campaign_df = compute_campaign_df(df)

campaign_df

,CAMPAIGN,CAMPAIGN_MEDIUM,ID_CONTACT_count,issued,ACTIVATED,positions,price,total_sum
0,5m1w,Network,16807,984,405,984,200,196800
1,27471,Affiliate,12407,655,229,655,200,131000
2,24497,Affiliate,10877,549,201,549,200,109800
3,22797,Affiliate,9811,487,174,487,200,97400
4,52218,Network,9028,575,244,575,200,115000
...,...,...,...,...,...,...,...,...
1474,2415237,Representative,1,0,0,0,150,0
1475,2415213,Representative,1,0,0,0,150,0
1476,2415161,Representative,1,0,0,0,150,0
1477,2415089,Representative,1,1,1,1,150,150
1478,ÑÐµÑÑÐ¾Ð²Ð°Ñ ÑÐ¾ÑÐºÐ°,Representative,1,0,0,0,150,0

Далее сгруппируем все данные внутри каждого уникального ```CAMPAIGN```. Теперь мы можем посчитать ... Заодно для каждого ```CAMPAIGN``` соберем все ```CAMPAIGN_MEDIUM```, что потенциально может представлять интерес для трафик-менеджера.

In [360]:
def compute_final_campaign_df(df, conversion_condition="activated", threshold=5):
    
    columns = list(df.columns)
    columns.remove("CAMPAIGN_MEDIUM")
    columns.remove("CAMPAIGN")
    
    dct = {i: sum for i in columns}
    dct["CAMPAIGN_MEDIUM"] = list
    
    df = df.groupby("CAMPAIGN").agg(dct).drop(columns=["price", 
                                                       "positions"]).sort_values("ID_CONTACT_count", 
                                                                             ascending=False)
    
    df["mediums_count"] = df.CAMPAIGN_MEDIUM.apply(len)
    
    
    # average price
    df["ANY_ACTIVATED"] = df.ACTIVATED.apply(lambda x: x > 0)

    df["average_price"] = df.total_sum / df.ACTIVATED    
    ind = df.ANY_ACTIVATED == False
    df.loc[ind, "average_price"] = df[ind].total_sum
    
    df["FREE_CAMPAIGN"] = df.average_price.apply(lambda x: x == 0)
    
    
    # KPI
    df["conversion_percent"] = df[conversion_condition] / df['ID_CONTACT_count'] * 100
    df["KPI_is_done"] = df["conversion_percent"].apply(lambda x: x >= threshold)
    assert df.isna().any().sum() == 0
    
    return df

In [361]:
final_campaign_df = compute_final_campaign_df(campaign_df, conversion_condition="issued", threshold=5)

final_campaign_df

,ID_CONTACT_count,issued,ACTIVATED,total_sum,CAMPAIGN_MEDIUM,mediums_count,ANY_ACTIVATED,average_price,FREE_CAMPAIGN,conversion_percent,KPI_is_done
CAMPAIGN,,,,,,,,,,,
5m1w,16807,984,405,196800,[Network],1,True,485.925926,False,5.854703,True
27471,12407,655,229,131000,[Affiliate],1,True,572.052402,False,5.279278,True
24497,10877,549,201,109800,[Affiliate],1,True,546.268657,False,5.047348,True
22797,9811,487,174,97400,[Affiliate],1,True,559.770115,False,4.963816,False
52218,9028,575,244,115000,[Network],1,True,471.311475,False,6.369074,True
...,...,...,...,...,...,...,...,...,...,...,...
2415089,1,1,1,150,[Representative],1,True,150.000000,False,100.000000,True
2415083,1,0,0,0,[Representative],1,False,0.000000,True,0.000000,False
2415013,1,0,0,0,[Representative],1,False,0.000000,True,0.000000,False
2414889,1,0,0,0,[Representative],1,False,0.000000,True,0.000000,False
ÑÐµÑÑÐ¾Ð²Ð°Ñ ÑÐ¾ÑÐºÐ°,1,0,0,0,[Representative],1,False,0.000000,True,0.000000,False

####dkfvdfg rgfv

In [362]:
def separate_groups(df):
    info_df = df.groupby(["KPI_is_done", 
                          "ANY_ACTIVATED", 
                          "FREE_CAMPAIGN"]).count().sort_index(ascending=False)[["ID_CONTACT_count"]]
    
    best_df = df[(df.KPI_is_done == True) &
                 (df.ANY_ACTIVATED == True) &
                 (df.FREE_CAMPAIGN) == True].sort_values("average_price", ascending=True)
    
    worst_df = df[(df.KPI_is_done == False) &
                  (df.ANY_ACTIVATED == False) &
                  (df.FREE_CAMPAIGN) == False].sort_values("average_price", ascending=False)
    
    return info_df, best_df, worst_df

In [363]:
info_df, best_df, worst_df = separate_groups(final_campaign_df)

In [364]:
info_df

                                         ID_CONTACT_count
KPI_is_done ANY_ACTIVATED FREE_CAMPAIGN
True        True          True                          9
                          False                       117
            False         True                          1
                          False                        56
False       True          True                          5
                          False                        69
            False         True                       1179
                          False                        19

In [365]:
best_df

,ID_CONTACT_count,issued,ACTIVATED,total_sum,CAMPAIGN_MEDIUM,mediums_count,ANY_ACTIVATED,average_price,FREE_CAMPAIGN,conversion_percent,KPI_is_done
CAMPAIGN,,,,,,,,,,,
none,1741,88,65,0,[Mobile],1,True,0.0,True,5.054566,True
halvaproductpage,1273,72,55,0,[referral],1,True,0.0,True,5.655931,True
invitefriend,796,82,61,0,[Mobile],1,True,0.0,True,10.301508,True
direct,492,30,17,0,[Direct],1,True,0.0,True,6.097561,True
nedostavilipilot,208,15,9,0,[Callcenter],1,True,0.0,True,7.211538,True
halvapage,38,3,2,0,[Partner],1,True,0.0,True,7.894737,True
finalizepilot,7,1,1,0,[Callcenter],1,True,0.0,True,14.285714,True
12mesyacev,5,1,1,0,"[Print, Affiliate]",2,True,0.0,True,20.000000,True
YT_ti_halva_25_34,3,1,1,0,[OLV],1,True,0.0,True,33.333333,True

In [366]:
worst_df

,ID_CONTACT_count,issued,ACTIVATED,total_sum,CAMPAIGN_MEDIUM,mediums_count,ANY_ACTIVATED,average_price,FREE_CAMPAIGN,conversion_percent,KPI_is_done
CAMPAIGN,,,,,,,,,,,
league2018popup,25,3,3,100000,[Display],1,True,33333.333333,False,12.000000,True
YandexMain,177,13,9,100000,[Display],1,True,11111.111111,False,7.344633,True
homepage,172,23,11,100000,[Display],1,True,9090.909091,False,13.372093,True
tmail,129,1,0,3483,[PKW],1,False,3483.000000,False,0.775194,False
vk,104,2,0,2808,[PKW],1,False,2808.000000,False,1.923077,False
...,...,...,...,...,...,...,...,...,...,...,...
YT_ti_halva_25_34,3,1,1,0,[OLV],1,True,0.000000,True,33.333333,True
oldversionfallback,278,2,1,0,[Mobile],1,True,0.000000,True,0.719424,False
halvaoffer,4520,155,58,0,"[Callcenter, Direct]",2,True,0.000000,True,3.429204,False
(not set),3681,178,133,0,"[organic, referral, Partner, Direct]",4,True,0.000000,True,4.835642,False
invitefriend,796,82,61,0,[Mobile],1,True,0.000000,True,10.301508,True